.cart-link {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  text-decoration: underline;
}

.cart-container {
  padding: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.checkout-btn {
  margin-top: 20px;
  padding: 15px;
  background: green;
  color: white;
  border: none;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: darkgreen;
}
