/* PRODUCT PAGE */
.product-page {
  display: flex;
  padding: 60px;
  gap: 60px;
}

.product-img img {
  width: 400px;
}

.product-info {
  max-width: 400px;
}

.price {
  font-size: 22px;
  margin: 10px 0;
}

.sizes button {
  margin-right: 10px;
  padding: 8px 14px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

.add-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
}

/* CART DRAWER */
.cart-drawer {
  position: fixed;
  right: -350px;
  top: 0;
  width: 320px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,.2);
  padding: 20px;
  transition: 0.3s;
  z-index: 100;
}

.cart-drawer.open {
  right: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.checkout-btn {
  display: block;
  background: #000;
  color: #fff;
  padding: 12px;
  text-align: center;
  text-decoration: none;
}
